body
{
    margin:0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    background-image: url(../image/y4.jpeg);
    background-size:cover;
    background-position: center;
     background-color: #17a2b8;
  height: 100vh;
    
}
*{margin: 0px;
   padding:0px; 
}
#menu ul{
    list-style: none;
}

#menu ul li{
    background-color: red;
    border:1px solid white;
    width: 140px;
    height:50px;
    line-height: 50px;
    text-align:center;
    float:left;
    position:relative;
    border-radius:50px;
}
#menu ul li a{
 text-decoration:none;
 color:white;
 display:block;
 
}
#menu ul li a:hover{
    background-color: green;
    border-radius:50px;
}
#menu ul ul{
    position :absolute;
    display:none;
}
#menu ul li:hover>ul{
    display :block;

}
#menu ul ul ul {
    margin-left:140px;
    top:0px;
}